@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 5rem;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../img/bg.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50vw;
  opacity: 0.8;
}

@media screen and (max-width: 992px) {
  body::before {
    opacity: 0.2;
  }
}

.nav-custom .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-custom .navbar-brand img {
  width: 25px;
  height: 25px;
}

.nav-custom .navbar-brand span {
  color: #7b54af;
  font-weight: 700;
  font-size: 1.4rem;
  margin-left: 0.4rem;
}

.nav-custom #navbarSupportedContent .navbar-nav .nav-item .nav-link {
  color: #7b54af;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 2rem;
  border-bottom: 2px solid transparent;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.nav-custom #navbarSupportedContent .navbar-nav .nav-item .nav-link:hover {
  color: #322248;
  border-bottom: 2px solid #7b54af;
}

.nav-custom #navbarSupportedContent .navbar-nav .nav-item .btn-signup {
  display: inline-block;
  color: #fff;
  background-color: #7b54af;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 992px) {
  .nav-custom {
    margin-top: -2rem;
  }
}

.section-custom {
  margin-top: 10rem;
}

.section-custom h1 {
  font-weight: 700;
  font-size: 4rem;
  color: #7b54af;
  white-space: nowrap;
  text-transform: uppercase;
  line-height: 1;
}

.section-custom h2 {
  font-weight: 400;
  font-size: 3rem;
  color: #aabde6;
  white-space: nowrap;
  text-transform: uppercase;
  line-height: 1;
}

.section-custom p {
  color: #393c43;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.section-custom a {
  display: inline-block;
  color: #fff;
  background-color: #7b54af;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-top: 2rem;
  border: 1px solid #7b54af;
}

.section-custom a:hover {
  color: #7b54af;
  border: 1px solid #7b54af;
  background-color: transparent;
}

@media screen and (max-width: 992px) {
  .section-custom {
    margin-top: 3.5rem;
    text-align: center;
  }
  .section-custom h1,
  .section-custom h2,
  .section-custom p {
    text-shadow: 1px 1px 2px rgba(57, 60, 67, 0.3);
  }
  .section-custom h2 {
    color: #50555f;
  }
}
