@mixin button {
  display: inline-block;
  color: #fff;
  background-color: $primaryColor;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
